img
{
    width: 200px;
    height: 200px;
    border: 2px solid red;
}

body
{
    background: radial-gradient(chartreuse,yellow,pink);
    color: maroon;
}

div
{
    background-color: magenta;
    color: gold;
}